*{
    box-sizing: border-box;
}

.Box{
   width: 100px; 
   height: 100px;
   background: #ff1493ff;
   padding: 20px;
   border: 10px solid #0000ff;
   margin-left: 30px;
   margin-top: 30px;

}
/*box sizing mantem a caixa no mesmo tamanho*/