*{
 
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;

}

header{
   margin-top: 47px; 
   margin-left: 42px;

}
.header-desafio{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0,875px;
  color: #17233d;
  margin-right: 32px;
}
.button-header{
  background: #6fbf44;
  border: 1px solid #4cb538;
  width: 124px;
  height: 51px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24x;
  letter-spacing: 1px;
  color: #ffffff;
}

img{
  margin: 163px 0 0 121px;
  width: 595px;
  height: 500px;
  display: inline-block;

}
section{
  display: inline-block;
  margin-left: 85px;
  width: 493px;
}

h1{
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 1px;
    color: #161a49;

}
p{
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4b505a;
    margin-top: 47px;
    margin-bottom: 55px;
}
.link-section{
  font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6fbf44;
    cursor: pointer;
}