*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     

}

Div {
    width: 700px;
    height: 700px;
    background-color: blue;
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    Div {
        background-color: red;
        width: 200px;
        height: 200px;

       
    }
}