
    
   h1 {
         color: rgb(21, 85, 145);
         background: rgb(108, 139, 108);
        }
    
    p {
        color: brown;
        font-size: 30px;
    }
   
        button {
            background: red;
            border-color: rgb(26, 126, 60);

        }
    


