.Avó{
    font-size:32px;
}



.Pai{
width: 80vw;
height: 80vh;
background: blue;
color:#ffff;
font-size: 2em;
}
.Filho{
width: 25%;
height: 25%;
background: red;
color:#ffff;
font-size: 2em;
}

/* Unidades de medidas

-> Absolutas
    px (pixels)
    in ( inches/polegadas)
    cm/mm (centímetro/milimetro)

Relativas
% Calcula o tamanho relativo ao elemento pai
vw (View-width) 1VW é 1% da largura janela do navegador
vh (View-heigth) 1 VH é 1% da altura da janela do navegador
em - É uma unidade relativo a elemento pai
rem - É uma unidade referente ao elemento raiz
